.login-page {
  position: absolute;
  // background-color: red;
  // background-image: url('./../../../assets/images/login/mosaic.png');
  // background-position: right;
  width: 100vw;
  height: 100vh;
  .login_link {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #0082f2;
  }
  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #323e45;
  }
  .login-description {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777777;
  }
  .login-image {
    width: 95px;
  }
}
