.alert-component{

    .alert-component-p{
        color: #CA0606;
        font-size: 14px;
        font-weight: 600;
        margin-top: 1px;
        display: inline-block;
    }
    .alert-component-image{
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-top: -2px;
        margin-right: 8.83px;
    }
}
